@font-face {
  font-family: "Trebuchet MS";
  font-style: normal;
  font-weight: bold;
  src: url("fonts/TrebuchetMS-Bold.eot");
  src: local("Trebuchet MS Bold"), local("TrebuchetMS-Bold"), url("fonts/TrebuchetMS-Bold.eot?#iefix") format("embedded-opentype"), url("fonts/TrebuchetMS-Bold.woff2") format("woff2"), url("fonts/TrebuchetMS-Bold.woff") format("woff"), url("fonts/TrebuchetMS-Bold.ttf") format("truetype"), url("fonts/TrebuchetMS-Bold.svg#TrebuchetMS-Bold") format("svg"); }

@font-face {
  font-family: "Trebuchet MS";
  font-style: italic;
  font-weight: normal;
  src: url("fonts/TrebuchetMS-Italic.eot");
  src: local("Trebuchet MS Italic"), local("TrebuchetMS-Italic"), url("fonts/TrebuchetMS-Italic.eot?#iefix") format("embedded-opentype"), url("fonts/TrebuchetMS-Italic.woff2") format("woff2"), url("fonts/TrebuchetMS-Italic.woff") format("woff"), url("fonts/TrebuchetMS-Italic.ttf") format("truetype"), url("fonts/TrebuchetMS-Italic.svg#TrebuchetMS-Italic") format("svg"); }

@font-face {
  font-family: "Keep Calm Med";
  font-style: normal;
  font-weight: 500;
  src: url("fonts/KeepCalm-Medium.eot");
  src: local("Keep Calm Medium"), local("KeepCalm-Medium"), url("fonts/KeepCalm-Medium.eot?#iefix") format("embedded-opentype"), url("fonts/KeepCalm-Medium.woff2") format("woff2"), url("fonts/KeepCalm-Medium.woff") format("woff"), url("fonts/KeepCalm-Medium.ttf") format("truetype"), url("fonts/KeepCalm-Medium.svg#KeepCalm-Medium") format("svg"); }

@font-face {
  font-family: "Trebuchet MS";
  font-style: normal;
  font-weight: normal;
  src: url("fonts/TrebuchetMS.eot");
  src: local("Trebuchet MS"), local("TrebuchetMS"), url("fonts/TrebuchetMS.eot?#iefix") format("embedded-opentype"), url("fonts/TrebuchetMS.woff2") format("woff2"), url("fonts/TrebuchetMS.woff") format("woff"), url("fonts/TrebuchetMS.ttf") format("truetype"), url("fonts/TrebuchetMS.svg#TrebuchetMS") format("svg"); }

@font-face {
  font-family: "Trebuchet MS";
  font-style: italic;
  font-weight: bold;
  src: url("fonts/Trebuchet-BoldItalic.eot");
  src: local("Trebuchet MS Bold Italic"), local("Trebuchet-BoldItalic"), url("fonts/Trebuchet-BoldItalic.eot?#iefix") format("embedded-opentype"), url("fonts/Trebuchet-BoldItalic.woff2") format("woff2"), url("fonts/Trebuchet-BoldItalic.woff") format("woff"), url("fonts/Trebuchet-BoldItalic.ttf") format("truetype"), url("fonts/Trebuchet-BoldItalic.svg#Trebuchet-BoldItalic") format("svg"); }

@font-face {
  font-family: "Trebuchet MS";
  font-style: normal;
  font-weight: bold;
  src: url("fonts/TrebuchetMS-Bold.eot");
  src: local("Trebuchet MS Bold"), local("TrebuchetMS-Bold"), url("fonts/TrebuchetMS-Bold.eot?#iefix") format("embedded-opentype"), url("fonts/TrebuchetMS-Bold.woff2") format("woff2"), url("fonts/TrebuchetMS-Bold.woff") format("woff"), url("fonts/TrebuchetMS-Bold.ttf") format("truetype"), url("fonts/TrebuchetMS-Bold.svg#TrebuchetMS-Bold") format("svg"); }

@font-face {
  font-family: "Trebuchet MS";
  font-style: italic;
  font-weight: normal;
  src: url("fonts/TrebuchetMS-Italic.eot");
  src: local("Trebuchet MS Italic"), local("TrebuchetMS-Italic"), url("fonts/TrebuchetMS-Italic.eot?#iefix") format("embedded-opentype"), url("fonts/TrebuchetMS-Italic.woff2") format("woff2"), url("fonts/TrebuchetMS-Italic.woff") format("woff"), url("fonts/TrebuchetMS-Italic.ttf") format("truetype"), url("fonts/TrebuchetMS-Italic.svg#TrebuchetMS-Italic") format("svg"); }

@font-face {
  font-family: "Keep Calm Med";
  font-style: normal;
  font-weight: 500;
  src: url("fonts/KeepCalm-Medium.eot");
  src: local("Keep Calm Medium"), local("KeepCalm-Medium"), url("fonts/KeepCalm-Medium.eot?#iefix") format("embedded-opentype"), url("fonts/KeepCalm-Medium.woff2") format("woff2"), url("fonts/KeepCalm-Medium.woff") format("woff"), url("fonts/KeepCalm-Medium.ttf") format("truetype"), url("fonts/KeepCalm-Medium.svg#KeepCalm-Medium") format("svg"); }

@font-face {
  font-family: "Trebuchet MS";
  font-style: normal;
  font-weight: normal;
  src: url("fonts/TrebuchetMS.eot");
  src: local("Trebuchet MS"), local("TrebuchetMS"), url("fonts/TrebuchetMS.eot?#iefix") format("embedded-opentype"), url("fonts/TrebuchetMS.woff2") format("woff2"), url("fonts/TrebuchetMS.woff") format("woff"), url("fonts/TrebuchetMS.ttf") format("truetype"), url("fonts/TrebuchetMS.svg#TrebuchetMS") format("svg"); }

@font-face {
  font-family: "Trebuchet MS";
  font-style: italic;
  font-weight: bold;
  src: url("fonts/Trebuchet-BoldItalic.eot");
  src: local("Trebuchet MS Bold Italic"), local("Trebuchet-BoldItalic"), url("fonts/Trebuchet-BoldItalic.eot?#iefix") format("embedded-opentype"), url("fonts/Trebuchet-BoldItalic.woff2") format("woff2"), url("fonts/Trebuchet-BoldItalic.woff") format("woff"), url("fonts/Trebuchet-BoldItalic.ttf") format("truetype"), url("fonts/Trebuchet-BoldItalic.svg#Trebuchet-BoldItalic") format("svg"); }

* {
  box-sizing: border-box;
  margin: 0;
  outline: 0;
  padding: 0; }

*:focus {
  outline: 0; }

html,
body,
#root {
  height: 100%; }

body {
  -webkit-font-smoothing: antialiased; }

body,
input,
button {
  font: 14px "Trebuchet MS", "Helvetica Neue", Arial, sans-serif; }

a {
  text-decoration: none; }

ul {
  list-style: none; }

button {
  cursor: pointer; }

.container {
  margin: 0 auto;
  max-width: 1740px;
  padding: 0 10px;
  width: 100%; }

header {
  padding: 15px 0; }
  header .content {
    align-items: center;
    display: flex;
    justify-content: space-between; }
  header .logo {
    width: 200px; }
  header nav ul {
    align-items: center;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0; }
  header nav li {
    margin: 0 25px; }
  header nav a {
    color: #19254f;
    font-size: 18px; }
    header nav a.feature {
      background: #19254f;
      border-radius: 50px;
      color: #fff;
      display: block;
      font-size: 18px;
      font-weight: bold;
      line-height: 18px;
      padding: 20px 40px;
      text-transform: uppercase; }
    header nav a:hover {
      text-decoration: underline; }

.address {
  align-items: center;
  background: #2ea6d0 url("images/mapa-bg.png") center center no-repeat;
  display: flex;
  height: 417px; }
  .address .content {
    align-items: center;
    display: flex;
    justify-content: space-around; }
    .address .content p {
      color: #fff;
      font-size: 16px;
      text-align: center; }

footer {
  padding: 100px 0; }
  footer .content {
    align-items: center;
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between; }
  footer .logo {
    width: 150px; }
  footer .text {
    color: #19254f; }
  footer .social {
    display: flex; }
    footer .social a {
      margin: 0 10px; }
    footer .social img {
      width: 25px; }

#content .image {
  background: url(/images/bg-top.png) center center no-repeat;
  height: 3626px;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1; }

#content h1 {
  color: #2ea6d0;
  font-size: 72px; }

#content .right .box__image {
  order: 2; }
  @media (min-width: 320px) and (max-width: 768px) {
    #content .right .box__image {
      order: 1; } }

#content .right .box__infos {
  padding-right: 100px; }
  @media (min-width: 320px) and (max-width: 768px) {
    #content .right .box__infos {
      padding-right: 0; } }

#content .box__brand {
  max-width: 85%;
  margin: 0 auto;
  padding: 250px 0 330px 0; }

#content .box__detail {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: relative;
  z-index: 0;
  margin-bottom: 100px; }
  @media (min-width: 320px) and (max-width: 768px) {
    #content .box__detail {
      flex-direction: column; } }

#content .box__title {
  color: #2ea6d0;
  font-family: "Keep Calm Med", "Helvetica Neue", Arial, sans-serif;
  font-size: 40px;
  font-weight: bold; }
  @media (min-width: 320px) and (max-width: 768px) {
    #content .box__title {
      margin-top: 30px; } }

#content .box__description {
  color: #858a8f;
  font-size: 24px;
  line-height: 40px;
  margin-top: 70px;
  word-break: break-all; }
  @media (min-width: 320px) and (max-width: 768px) {
    #content .box__description {
      font-size: 16px;
      margin: 30px; } }

#content .box__text {
  color: #fff;
  font-size: 20px;
  line-height: 40px;
  margin-top: 90px;
  font-family: "Trebuchet MS", "Helvetica Neue", Arial, sans-serif; }

#content .box__social {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 2%;
  top: 30%; }
  #content .box__social a {
    margin-bottom: 30px;
    transition: all .5s ease; }
    #content .box__social a:hover {
      transform: scale(1.2); }

#content .box__image {
  width: 670px;
  height: 450px;
  background-color: #2ea6d0;
  display: flex;
  justify-content: center;
  align-items: center; }
  #content .box__image img {
    display: flex;
    justify-content: center; }

#content .box__infos {
  width: 670px;
  margin-left: 100px; }
  @media (min-width: 320px) and (max-width: 768px) {
    #content .box__infos {
      margin-left: 0;
      order: 2;
      text-align: center;
      width: auto; } }

#info {
  background-color: #273042; }
  #info .info {
    align-items: center;
    color: #fff;
    text-align: center;
    font-family: "Keep Calm Med", "Helvetica Neue", Arial, sans-serif;
    font-size: 40px;
    padding: 158px 0; }
    @media (min-width: 320px) and (max-width: 768px) {
      #info .info {
        font-size: 24px; }
        #info .info strong {
          font-size: 24px; } }
    #info .info strong {
      color: #2ea6d0; }

#why {
  background-color: #eceef0;
  display: inline-block;
  flex-wrap: wrap;
  justify-content: center;
  padding: 80px 0;
  text-align: center;
  width: 100%; }
  #why .reason {
    font-family: "Keep Calm Med", "Helvetica Neue", Arial, sans-serif;
    text-align: center; }
    #why .reason__title {
      color: #273042;
      font-size: 38px; }
    #why .reason__description {
      color: #858a8f;
      font-size: 20px;
      margin: 25px 0 75px 0; }
  #why .box-card {
    display: flex;
    justify-content: space-around; }
  #why .card {
    font-family: "Keep Calm Med", "Helvetica Neue", Arial, sans-serif;
    box-shadow: 0px 30px 22px -12px rgba(0, 0, 0, 0.26);
    width: 415px;
    padding: 60px 65px 85px;
    border: 2px solid transparent;
    transition: all .5s ease;
    margin: 0 20px;
    display: inline-block; }
    #why .card:hover {
      border: 2px solid #2ea6d0; }
    @media (min-width: 320px) and (max-width: 768px) {
      #why .card {
        margin-top: 20px; } }
    #why .card__icon {
      margin: 0 auto;
      padding: 0 0 45px 0; }
    #why .card__title {
      color: #2ea6d0;
      font-size: 36px;
      font-weight: bold;
      padding-bottom: 30px; }
    #why .card__description {
      color: #858a8f;
      line-height: 30px; }

#content.content .image {
  background: url("/images/bg-top2.png") center center no-repeat;
  height: 1235px; }

#content.content .box__brand {
  padding: 250px 0 60px 0; }

#option {
  align-items: center;
  display: flex; }
  @media (min-width: 320px) and (max-width: 768px) {
    #option {
      flex-direction: column; } }
  #option .image {
    padding-right: 80px;
    width: 100%; }
    @media (min-width: 320px) and (max-width: 768px) {
      #option .image {
        margin-bottom: 30px;
        padding-right: 0; } }
  #option .option {
    width: 500px; }
    #option .option__image {
      height: auto;
      margin-right: 65px;
      width: auto; }
    #option .option__box {
      align-items: center;
      font-family: "Keep Calm Med", "Helvetica Neue", Arial, sans-serif;
      display: flex;
      margin-bottom: 90px; }
      #option .option__box .title {
        color: #19254f;
        font-size: 40px; }
      #option .option__box:nth-child(odd) .title {
        color: #2ea6d0; }
      @media (min-width: 320px) and (max-width: 768px) {
        #option .option__box:nth-child(even) .title {
          color: #2ea6d0; } }
    #option .option__description {
      color: #858a8f;
      font-size: 20px;
      line-height: 30px; }

#why.content .reason__title {
  color: #2ea6d0; }

#why.content .card {
  background-color: #fff;
  text-align: left; }
  #why.content .card:nth-child(even) {
    background-color: #273042; }
    #why.content .card:nth-child(even) .card__number {
      color: #fff; }
  #why.content .card__number {
    color: #161b35;
    border-bottom: 1px solid #2ea6d0;
    font-size: 120px;
    display: inline-block;
    margin-bottom: 45px; }
  #why.content .card__description {
    font-size: 20px; }
