// CONTENT ==================================
#content {
    .image {
        background: url(/images/bg-top.png) center center no-repeat;
        height: 3626px;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: -1;
    }

    h1 {
        color: $secondary-color;
        font-size: 72px;
    }

    
    .right {
        .box__image {
            order: 2;
            
            @include phone {
                order: 1;
            }
        }

        .box__infos {
            padding-right: 100px;
            
            @include phone {
                padding-right: 0;
            }
        }
    }
    .box {

        &__brand {
            max-width: 85%;
            margin: 0 auto;
            padding: 250px 0 330px 0;
        }

        &__detail {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            position: relative;
            z-index: 0;
            margin-bottom: 100px;

            @include phone {
                flex-direction: column;
            }
        }

        &__title {
            color: $secondary-color;
            font-family: $second-font;
            font-size: 40px;
            font-weight: bold;
            @include phone {
                margin-top: 30px;
            }
        }

        &__description {
            color: $text;
            font-size: 24px;
            line-height: 40px;
            margin-top: 70px;
            word-break: break-all;
            @include phone {
                font-size: 16px;
                margin: 30px;
            }
        }

        &__text {
            color: #fff;
            font-size: 20px;
            line-height: 40px;
            margin-top: 90px;
            font-family: $base-font;
        }

        &__social {
            display: flex;
            flex-direction: column;
            position: absolute;
            right: 2%;
            top: 30%;
            a {
                margin-bottom: 30px;
                transition: all .5s ease;
                &:hover {
                    transform: scale(1.2);
                }
            }
        }

        &__image {
            width: 670px;
            height: 450px;
            background-color: $secondary-color;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                display: flex;
                justify-content: center;
            }
        }

        &__infos {
            width: 670px;
            margin-left: 100px;
             @include phone {
                margin-left: 0;
                order: 2;
                text-align: center;
                width: auto;
             }
        }
    }
}
// CONTENT ==================================