@charset 'UTF-8';

$primary-color: #19254f;
$secondary-color: #2ea6d0;
$text: #858a8f;

.address {
  align-items: center;
  background: $secondary-color url("images/mapa-bg.png") center center no-repeat;
  display: flex;
  height: 417px;

  .content {
    align-items: center;
    display: flex;
    justify-content: space-around;

    p {
      color: #fff;
      font-size: 16px;
      text-align: center;
    }
  }
}

footer {
  padding: 100px 0;

  .content {
    align-items: center;
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
  }

  .logo {
    width: 150px;
  }

  .text {
    color: $primary-color;
  }

  .social {
    display: flex;

    a {
      margin: 0 10px;
    }

    img {
      width: 25px;
    }
  }
}
