#content {
  background: url("/images/bg-top.png") center center no-repeat;
  height: 100%;
  margin-top: -88px;
  position: relative;
  width: 100%;
  width: 100%;
  z-index: -1; }
  #content .box__image {
    width: 670px;
    height: 450px;
    background-color: #2ea6d0; }
